.dashboard-header{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 20px;
    padding: 10px;
    width: 100%;
}
.dashboard-header div{
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-left: 2px solid goldenrod;
    border: 1px solid #cac8c8;
    color: #4f4f4f;
}
.dashboard-body-con{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.dashboard-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    color: #4f4f4f;
    gap: 10px;
}
.dashboard-body div{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.dashboard-body div:hover{
    border: 1px solid #cac8c8;
}
