/** @format */

.header-con {
  width: 100%;
  height: 70vh;
  position: relative;
  background-color: #100f57;
}
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: #100f5786;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}
.header-con > span {
  background-color: #509cdbcb;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
}
.header section {
  margin-top: 100px;
  text-align: center;
}
.header section h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
.header section p {
  color: #ffffff;
  font-size: 13px;
}
.first-button {
  padding: 7px;
  background-color: #100f57;
  border: 1px solid #cac8c8;
  color: #d89925;
  border-radius: 15px;
  width: auto;
}
.img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img img {
  border-radius: 20px;
  width: 90%;
}

/*first section*/
.first-section-con {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.first-section {
  width: 90%;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: #4f4f4f;
  gap: 30px;
}
.first-section div {
  width: 90%;
  font-size: 16px;
}
.first-section p {
  font-weight: 300;
}
/*second-section*/
.second-section-con {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 50px;
}
.second-section {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  color: #4f4f4f;
}
.second-section h1 {
  font-size: 2rem;
}
.second-section div {
  width: 90%;
}
.second-section p {
  font-size: 16px;
  font-weight: 300;
}
.second-section-img {
  position: relative;
  height: 350px;
}
.second-section-img img {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.third-section-con {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 80px;
}
.third-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  color: #4f4f4f;
  width: 90%;
  max-width: 1100px;
}
.third-section span {
  width: 35%;
}
.third-section img {
  width: 100%;
}
.third-section h1 {
  font-size: 2.5rem;
}

.fourth-section-con {
  width: 100%;
  height: 550px;
  position: relative;
  background-color: #100f57;
}
.fourth-section-con > span {
  background-color: #509cdbcb;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
}
.fourth-section {
  padding-top: 50px;
  width: 90%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 20px;
}
.fourth-section div {
  width: 100%;
}
.fourth-section ul {
  width: 100%;
  list-style: none;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 4px solid #d89925;
}
.fourth-section li {
  padding: 20px;
  border-bottom: 1px solid #cac8c8;
  color: #4f4f4f;
  cursor: pointer;
}
.fourth-section li p {
  height: 0;
  overflow-y: hidden;
  transition: all 500ms;
}
.fourth-section h1 {
  font-size: 2rem;
}

.fifth-section-con {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth-section-con > section {
  text-align: center;
  width: 85%;
  max-width: 600px;
  color: #4f4f4f;
}
.fifth-section-con section h1 {
  font-size: 2.5rem;
  color: #509cdb;
}
.fifth-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin-top: 90px;
  gap: 40px;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff,
    #e4e4e4,
    #ffffff,
    #ffffff
  );
}
.fifth-section div {
  width: 100%;
  box-shadow: 2px 2px 20px #c4c3c3;
  border-radius: 10px;
  background-color: #ffffff;
}
.price-pro {
  background-color: #100f57;
  color: #ffffff;
  transform: translateY(0);
}

.fifth-section div header {
  flex-direction: column;
  height: auto;
  padding: 10px;
}
.fifth-section div header p {
  font-size: 13px;
}
.fifth-section div header small {
  font-weight: 200;
  font-size: 13px;
}
.fifth-section div header span {
  background-color: #509cdb3b;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: #509cdb;
}
.fifth-section div section {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 10px;
}
.fifth-section div section input {
  margin-right: 3px;
  background-color: transparent;
  border: 1px solid #509cdb;
  color: #509cdb;
}
.fifth-section div section button {
  border: 1px solid #509cdb;
  border-radius: 5px;
  background-color: #509cdb;
  color: #ffffff;
  padding: 10px;
}

.footer-con {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: #100f57;
}
.footer-con > span {
  background-color: #509cdbcb;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: absolute;
}
.footer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: #100f5786;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  height: 100%;
  width: 100%;
  color: #ffffff;
  max-width: 1000px;
}
.footer section div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.footer section ul {
  list-style: none;
}

/*Footer section*/
.footersection {
  background-color: #100f57;
  color: white;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
}
.footer-con {
  width: 90%;
  max-width: 1000px;
}
.footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(253, 253, 253, 0.5);
}

.footerlinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerlinks a {
  margin-bottom: 32px;
  text-align: start;
  color: #ffffff;
  text-decoration: none;
}

.footerlinks p {
  margin-bottom: 32px;
  text-align: start;
}

.footerlinks h3 {
  margin-bottom: 48px;
}
.footer a, h3{
  display:none;
}
.belowfooter {
  padding-top: 40px;
  align-items: center;
}
.belowfooter p {
  text-align: center;
}
@media (min-width: 780px) {
  .img img {
    width: auto;
  }
  .header-con {
    height: 100vh;
  }
  .header section h1 {
    font-size: 45px;
  }
  .first-section-con {
    padding-top: 400px;
  }
  .first-section {
    flex-direction: row;
  }
  .first-section div {
    width: 30%;
  }
  .third-section {
    flex-direction: row;
  }
  .fourth-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .fourth-section div {
    width: 40%;
  }
  .fourth-section ul {
    width: 40%;
    justify-content: space-between;
  }
  .fifth-section {
    flex-direction: row;
  }
  .fifth-section div {
    width: 300px;
  }
  .price-pro {
    transform: translateY(-30px);
  }
  .second-section div {
    width: 40%;
  }
  .second-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .second-section-img {
    height: 500px;
  }
  .footer-con{
    height: 70vh;
  }
  .footer {
    flex-direction: row;
    display: flex;
  }
  .footer a, h3{
    display:block;
  }
}
