.material-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.material{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.new-material{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3a1a1;
    flex-direction: column;
    color: #5f6fb8;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.add-material{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #4f4f4f;
    width: 90%;
}
.add-material input{
    padding: 10px;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
}
.add-material textarea{
    padding: 10px;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    height: 100px;
}
.material-single{
    width: 45%;
    border: 1px solid #a3a1a1;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}
.material-single b{
    font-size: 16px;
    margin-bottom: 5px;
}
.material-single p{
    margin-bottom: 5px;
}
@media (min-width: 780px) {
    .material-single{
        width: 250px;
    }
    .new-material{
        width: 250px;
    }
    .add-material{
        width:30%;
    }
}